<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="student" class="com.southwind.entity.Student" scope="prototype">
        <!--prototype原型-->
        <property name="id" value="1"/>
        <property name="name" value="张三"/>
        <property name="age" value="22"/><!--di, 依赖注入-->
        <property name="addresses">
            <list>
                <ref bean="address"></ref>
                <ref bean="address2"></ref>
            </list>
        </property>
    </bean>

    <bean id="student3" class="com.southwind.entity.Student" scope="singleton">
        <!--单例模式-->
        <constructor-arg name="id" value="3"/>
        <constructor-arg name="name" value="小明"/>
        <constructor-arg name="age" value="18"/>
        <constructor-arg name="addresses">
            <list>
                <ref bean="address"></ref>
                <ref bean="address2"></ref>
            </list>
        </constructor-arg>
    </bean>

    <bean id="address" class="com.southwind.entity.Address">
        <property name="address" value="太原市小店区"/>
    </bean>
    <bean id="address2" class="com.southwind.entity.Address">
        <property name="address" value="太原市小店区"/>
    </bean>


</beans>